.features {
  display: flex;
  align-items: center;
  padding-top: 40px;
  width: 100%;

  position: relative;
  background-image: url('../../../static/img/backgroundImage.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.Intro{
  color: black;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
